*.docx
*.gz
*.aux
*.fdb
*.fls
*.docx_
*.zip
*.DS_Store
*.gif
*.Robj
*.pptx
*.xlsx
*.log
*.bak
*.sav
*.swp
*.Rmd.swp
*.html
*.rds
*.png
*.tsv
*.mtx
*.csv
*.swo
*.pdf
methods/XCAVATOR/
methods/tim/
bam/
gene_ref/
methods/EXCAVATOR2_Package_v1.1.2/
methods/HG01879.alt_bwamem_GRCh38DH.20150826.ACB.exome.cram
methods/test_script/
methods/EXCAVATOR2_Package_v1.1.2
methods/varscan2/
pbs/logs/
