*.docx
*.RData
*.bw
*.gz
*.aux
*.fdb
*.fls
*.docx_
*.zip
*.DS_Store
*.gif
*.Robj
*.pptx
*.xlsx
*.log
*.bak
*.sav
*.swp
*.Rmd.swp
*.html
*.rds
*.png
*.tsv
*.mtx
*.csv
*.vcf
*.swo
*.pdf
*.jar
*.copynumber
*.copynumber.called
*.copynumber.called.gc
methods/XCAVATOR/
methods/tim/
bam/
gene_ref/
methods/pbs/logs/
tmp
