*.docx
*.gz
*.aux
*.fdb
*.fls
*.docx_
*.zip
*.DS_Store
*.gif
*.Robj
*.PBS
*.PBS.*
*.pptx
*.xlsx
*.log
*.bak
*.sav
*.swp
*.Rmd.swp
*.html
*.rds
*.png
*.tsv
*.mtx
*.csv
*.swo
*.pdf
methods/XCAVATOR/
methods/tim/
methods/EXCAVATOR2_Package_v1.1.2
